@charset "utf-8";

@media (max-width:768px){
  body {
  overflow-x:hidden;
  }
}
/*--------opening--------*/
#opening {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

#op {
  opacity: 0;
  width: 100px; /* ロゴの大きさ調整 */
  font-size: 30px;
  transform: translateY(50px); /* 下に50pxずらす */
  animation: slideFade 2s ease-out forwards; /* 1秒で上がる */
}
@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 0.5;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
/*--------opening end--------*/

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}

.text-area {
  width: 53%;
  padding-left: 100px;
  letter-spacing: 3px;
  line-height: 1.5;
}
.img-area {
  position: relative;
  width: 45%;
}

@media (max-width: 768px) {
  .text-area {
    width: 100%;
    margin-top: 100px;
    padding: 0 50px;
  }
  .img-area {
    width: 100%;
  }
}

.img img {
  position: relative;
  width: 695px;
  height: auto;
  z-index: -2;
}
.sign img {
  position: absolute;
  top: -100px;
  left: -160px;
  width: 600px;
  z-index: -1;
}

@media (max-width: 768px) {
  .img-area {
    text-align: center;
  }
  .img img {
    width: 70%;
    position: relative;
  }
  .sign img {
    width: 75%;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
  }
}

.lv2 {
  font-size: 2.4em;
  margin-bottom: 30px;
}

.lv3 {
  font-size: 1.8em;
  margin: 20px auto;
  border-bottom: 1px solid #ddd;
}
p,
.list {
  font-size: 1.3em;
  word-break: keep-all;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 60%;
}
dd {
  width: 35%;
}

@media (max-width: 768px) {
  .lv2 {
    font-size: 1.8em;
  }
  .lv3 {
    font-size: 1.2em;
  }
  p,
  .list {
    font-size: 0.9em;
  }
}

.footer p{
  text-align:center;
}
