@charset "utf-8";

html,
body {
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: #909090;
}
@media (max-width:768px){
  body {
    overflow:scroll;
  }
.lv1 {
  font-size: 30px;
  margin: 20px 0 0 50px;
}

.header {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
/* ナビゲーションシステム */
/* ＝＝＝＝＝＝＝＝ PC表示（768以上）＝＝＝＝＝＝＝＝ */
.pc-nav {
  justify-content: right;
  margin: 20px 50px 0 0;
}

.pc-nav ul {
  display: flex;
  gap: 60px;
}

.pc-nav a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}

.hamburger,
.sp-nav {
  display: none;
}

/* ＝＝＝＝＝＝＝＝ SP表示（768以下）＝＝＝＝＝＝＝＝ */
@media (max-width: 768px) {
  .lv1 {
    font-size: 20px;
  margin: 25px 0 0 30px;
  } 
  .pc-nav {
    display: none;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 22px;
    z-index: 1001;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    height: 2px;
    background: #888;
    margin-bottom: 6px;
    transition: 0.3s;
  }

  .hamburger.active span:nth-child(1) {
    background: #d9d9d9;
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    background: #d9d9d9;
    transform: translateY(-9px) rotate(-45deg);
  }

  .sp-nav {
    display: block;
    position: fixed;
    top: 0;
    right: -50%;
    width: 45%;
    height: 100vh;
    background: rgba(84, 80, 80, 0.8);
    padding-top: 40px;
    transition: 0.4s ease;
    z-index: 1000;
  }

  .sp-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    margin-top: 20%;
  }
  .sp-nav li {
    padding-top: 40px;
  }
  .sp-nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 20px;
    opacity: 0;
    transform: translateX(20px);
    transition: 0.4s ease;
  }

  .sp-nav.active {
    right: 0;
  }

  .sp-nav.active a {
    opacity: 1;
    transform: translateX(0);
  }

  .sp-nav.active li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .sp-nav.active li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .sp-nav.active li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .sp-nav.active li:nth-child(4) a {
    transition-delay: 0.5s;
  }
}

.footer {
  bottom: 0;
  left: 50%;
  text-align: center;
}
