@charset "utf-8";

body,
html {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-area {
  font-size: large;
  margin-bottom: 30px;
  text-align: center;
}
.text-area2 {
  font-size: medium;
  margin-bottom: 50px;
  text-align: center;
}
.footer p{
  text-align:center;
}
